<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159990365-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());
      gtag('config', 'UA-159990365-1');
  </script>


  <title>CoronavirusAPI</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<nav class="navigation">
  <%# TODO: these should not be inlined - see https://cobwwweb.com/render-inline-svg-rails-middleman for information on resolving%>
  <button aria-expanded="false" aria-controls="menu">
    <svg class="bi bi-list" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
    </svg>  </button>

  <ul id="menu" hidden>
    <li><a href="/" class="logo <%if request.path == '/' %> active <% end %>">CoronavirusAPI</a></li>
    <li><a href="usage" class="<%if request.path == '/usage' %> active <% end %>">Usage</a></li>
    <li><a href="faq" class="<%if request.path == '/faq' %> active <% end %>">FAQ</a></li>
    <li><a href="about" class="<%if request.path == '/about' %> active <% end %>">Team</a></li>
    <li><a href="media" class="<%if request.path == '/media' %> active <% end %>">Media</a></li>
    <li><a href="donate" class="<%if request.path == '/donate' %> active <% end %>">Donate</a></li>
    <li><a href="legal" class="<%if request.path == '/legal' %> active <% end %>">Legal Notices</a></li>
  </ul>
</nav>
  <div class="main-content">
    <%= yield %>
  </div>

</body>
</html>
